<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Atomic Bootstrap Style Guide | Atomic Bootstrap</title>
		<!-- Stylesheets -->
		<link href="../assets/stylesheets/application-min.css" rel="stylesheet">
		<link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		</head>
	<body>
	  		
		<div class="jumbotron full-bleed">
			<div class="container">
				<h1 class="centered">Bootstrap Atomic Style Guide</h1>
				<p class="centered">A live style guide based on Atomic Design principles using Bootstrap.</p>
			</div>
		</div>
		
		<div class="container">
				<h2 class="page-header">Colors</h2>
				<div class="row">
					<h5 class="text-uppercase">Brand Colors</h5>
					<div class="col-md-3 color-div color-brand-primary">
							Brand Primary
							<br />
							#2f302f
					</div>
					<div class="col-md-3 color-div color-brand-secondary">
							Brand Secondary
							<br />
							#043c5b
					</div>
					<div class="col-md-3 color-div color-brand-tertiary">
							Brand Tertiary
							<br />
							#80bcd6
					</div>
					<div class="col-md-3 color-div color-brand-auxiliary-1">
							Brand Auxiliary 1
							<br />
							#80bcd6
					</div>
					<div class="col-md-3 color-div color-brand-auxiliary-2">
							Brand Auxiliary 2
							<br />
							#80bcd6
					</div>
					<div class="col-md-3 color-div color-brand-auxiliary-3">
							Brand Auxiliary 3
							<br />
							#80bcd6
					</div>
				</div>
				<div class="row">
					<h5 class="text-uppercase">Shades Colors</h5>
					<div class="col-md-3 color-div color-black">
						Black
						<br />
						#000000
					</div>
					<div class="col-md-3 color-div color-gray-extra-dark">
						Gray, Extra Dark
						<br />
						#80bcd6
					</div>
					<div class="col-md-3 color-div color-gray-dark">
						Gray, Dark
						<br />
						#80bcd6
					</div>
					<div class="col-md-3 color-div color-gray-middle">
						Gray, Middle
						<br />
						#80bcd6
					</div>
					<div class="col-md-3 color-div color-gray-light">
						Gray, Light
						<br />
						#80bcd6
					</div>
					<div class="col-md-3 color-div color-gray-extra-light">
						Gray, Extra Light
						<br />
						#80bcd6
					</div>
					<div class="col-md-3 color-div color-white">
						White
						<br />
						#80bcd6
					</div>
				</div>
			
			<div class="row">
				<h2 class="page-header">Typefaces and Fonts</h2>
				<div class="col-md-4">
					<div class="roboto">
						<div class="big-a">
							<span>Aa</span>
						</div>
						<div class="font-display">
							<span class="large bold">Roboto</span>
							<p class="font-characters">
								a b c d e f g h i j k l m n o p q r s t u v w x y z
							</p>
							<p class="font-characters">
								A B C D E F G H I J K L M N O P Q R S T U V W X Y Z
							</p>
							<p class="font-characters">
								1 2 3 4 5 6 7 8 9 0
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="roboto">
						<div class="big-a">
							<span>Aa</span>
						</div>
						<div class="font-display">
							<span class="large bold">Roboto</span>
							<p class="font-characters">
								a b c d e f g h i j k l m n o p q r s t u v w x y z
							</p>
							<p class="font-characters">
								A B C D E F G H I J K L M N O P Q R S T U V W X Y Z
							</p>
							<p class="font-characters">
								1 2 3 4 5 6 7 8 9 0
							</p>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<h2 class="page-header">Icons</h2>
				<div class="component-wrap">
					<div class="icons">
						<div class="single-icon">
							<div class="icon">
								<span class="fa fa-at"></span>
							</div>
							<div class="icon-title">
								At-omic!
							</div>
						</div> 
					</div>	
				</div>
			</div>
				
			<div class="row">				
				<h2 class="page-header">Typography</h2>
				
				<h5 class="text-uppercase">Headings</h5>
				<h1>Heading 1 <small>Subhead</small></h1>
				<h2>Heading 2 <small>Subhead</small></h2>
				<h3>Heading 3 <small>Subhead</small></h3>
				<h4>Heading 4 <small>Subhead</small></h4>
				<h5>Heading 5 <small>Subhead</small></h5>
				<h6>Heading 6 <small>Subhead</small></h6>
				<h5 class="text-uppercase">Text</h5>
				<p>This is a paragraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus voluptate voluptatibus nobis libero totam mollitia, fuga, inventore perspiciatis veniam ratione nihil maxime asperiores nesciunt amet obcaecati ab adipisci eius dicta!</p>
		
				<h5 class="text-uppercase">Bulleted List</h5>
				<ul>
					<li>With text and a <a href="#" class="WahlGold">link.</a></li>
					<li>With just some simple text.</li>
					<li><a href="#" class="WahlGold">With only a link!</a></li>
				</ul>
			</div>
			
			<div class="row">
				<h2 class="page-header">Links, Buttons, and Inputs</h2>
				
				<h5 class="text-uppercase">Text Link</h5>
				<a href="#">Action</a>
				
				<h5 class="text-uppercase">Primary Button</h5>
				<a class="btn btn-primary">Action</a>
				
				<h5 class="text-uppercase">Secondary Button</h5>
				<a class="btn btn-secondary">Action</a>
				
				<h5 class="text-uppercase">Tertiary Button</h5>
				<a class="btn btn-tertiary">Action</a> 
			</div>
				
			<div class="row">
				<h5 class="text-uppercase">Text Input</h5>
				<input name="inputName" type="text" class="text-box" />
				
				<h5 class="text-uppercase">Text Input, Error</h5>
				<input name="inputName" type="text" class="text-box form-error" />
				<p class="form-error-message">This field is required.</p>
			</div>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="../bower_components/mustache.js/mustache.min.js"></script>
	</body>
</html>

				



